<style>
    .page-list .pagination {float:left;}
    .page-list .pagination span {cursor: pointer;}
    .page-list .pagination .separate span{cursor: default; border-top:none;border-bottom:none;}
    .page-list .pagination .separate span:hover {background: none;}
    .page-list .page-total {float:left; margin: 25px 20px;}
    .page-list .page-total input, .page-list .page-total select{height: 26px; border: 1px solid #ddd;}
    .page-list .page-total input {width: 40px; padding-left:3px;}
    .page-list .page-total select {width: 50px;}
</style>
<section class="content">
	<div class="box">
		<div class="box-header">
			<h3 class="box-title">账户管理</h3>
			<div class="box-tools">
				<a class="btn btn-primary btn-flat" href="/backend/add/account"><i class="fa fa-plus"></i> 添加</a> 
				<a class="btn btn-danger btn-flat" href="javascript:void(0)" ng-click="del()"><i class="fa fa-minus"></i> 删除</a>
			</div>
		</div>
		<div class="box-header">
			<div class="input-group input-group-sm" style="width: 250px;">
				<input type="text" name="table_search"
					class="form-control pull-right" placeholder="搜索" id="input1">
				<div class="input-group-btn">
					<button type="submit" class="btn btn-primary" ng-click="queryByPage()">
						<i class="fa fa-search"></i>
					</button>
				</div>
			</div>
		</div>
		<div class="box-body">
			<div class="table-responsive mailbox-messages">
				<table class="table table-hover">
					<tr>
						<th width="30"><button type="button"
								class="btn btn-default btn-sm checkbox-toggle">
								<i class="fa fa-square-o"></i>
							</button></th>
						<th>GUID</th>
						<th>商户</th>
						<th>帐号</th>
						<th>昵称</th>
						<th>首次登录后强制修改密码</th>
						<th>头像</th>
						<th>所属门店</th>
						<th>角色</th>
						<th>状态</th>
						<th>操作</th>
					</tr>
					<tr ng-repeat="result in basicsInfo.results"  on-render-finish>
						<td align="center"><input type="checkbox" ng-click="check(result.id,chk)" ng-model="chk"></td>
		                <td>{{result.id}}</td>
		                <td>{{result.client.name}}</td>
		                <td>{{result.name}}</td>
		                <td>{{result.nick}}</td>
		                <td ng-if="result.changePWD == 1">是</td>
						<td ng-if="!result.changePWD || result.changePWD != 1">否</td>
		                <td><img alt="User Image" class="user-image"
							src={{result.displayPhoto}} width="50"> <a
							href="avatar.html" class="btn btn-danger btn-xs">修改</a></td>
						<td>{{result.store.name}}</td>
						<td>店长</td>
						<td ng-if="result.status == 1">有效</td>
						<td ng-if="!result.status || result.status != 1">无效</td>
						<td><a href="/backend/edit/account/{{result.id}}" class="btn btn-info btn-xs">编辑</a></td>
		            </tr>
				</table>
			</div>
			<div class="row">
				<div class="col-sm-5">
					<div class="dataTables_info">{{basicsInfo.pageNo}}/{{basicsInfo.totalPage}}</div>
				</div>
				<tm-pagination conf="paginationConf"></tm-pagination>
			</div>
		</div>
		<!-- /.box-body -->
	</div>
</section>