<section class="content">
	<div class="box">
		<div class="box-header">
			<h3 class="box-title">商户支付方式</h3>
		</div>
		<div class="box-body">
			<ul class="nav nav-tabs" id="myTab">
				<li class="active"><a href="#detail">基本信息</a></li>
			</ul>
			<form class="form-horizontal" role="form" method="post"  name="basicsForm" id="basicsForm" ng-submit="edit(basicsForm.$valid)" novalidate>
				<div class="tab-content" style="margin-top: 20px;">
					<div class="tab-pane active" id="detail">
						
						<div class="form-group">
							<label for="Payment" class="col-sm-2 control-label">支付方式</label>
							<div class="col-sm-4">
								<select id="Payment" name="Payment" class="form-control" ng-model="selPayment" ng-options="x.show for x in Payments">
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="Status" class="col-sm-2 control-label">状态</label>
							<div class="col-sm-4">
								<select id="status" name="status" class="form-control" ng-model="selstatus" ng-options="x.show for x in statuses">
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-4">
						<button type="button" class="btn btn-danger" ng-click="edit(basicsForm.$valid)">提交</button>
						<button type="button" class="btn btn-danger" ng-click="cancel();">取消</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>