<section class="content">
	<div class="box">
		<div class="box-header">
			<h3 class="box-title">促销门店</h3>
		</div>
		<div class="box-body">
			<form class="form-horizontal" role="form" method="post"  name="basicsForm" id="basicsForm" ng-submit="edit(basicsForm.$valid)" novalidate>
				<div class="form-group">
					<label for="Promotion" class="col-sm-2 control-label">促销活动</label>
					<div class="col-sm-4">
						<select id="Promotion" name="Promotion" class="form-control" ng-model="selPromotion" ng-options="x.show for x in promotions">
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="storeId" class="col-sm-2 control-label">门店</label>
					<div class="col-sm-4">
						<select id="storeId" name="storeId" class="form-control" ng-model="selStore" ng-options="x.show for x in stores">
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="EffectiveDate" class="col-sm-2 control-label">生效日期</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="EffectiveDate"
							name="EffectiveDate" placeholder="生效日期"
							data-provide="datepicker-inline" data-date-format="yyyy-mm-dd" ng-model="form.effDate" value="{{form.effDate  | date:'yyyy-MM-dd'}}">
					</div>
				</div>
				<div class="form-group">
					<label for="ExpiryDate" class="col-sm-2 control-label">失效日期</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="ExpiryDate"
							name="ExpiryDate" placeholder="失效日期"
							data-provide="datepicker-inline" data-date-format="yyyy-mm-dd" ng-model="form.expDate" value="{{form.expDate  | date:'yyyy-MM-dd'}}">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="button" class="btn btn-danger" ng-click="edit(basicsForm.$valid)">提交</button>
						<button type="button" class="btn btn-danger" ng-click="cancel();">取消</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>