<style>
    .page-list .pagination {float:left;}
    .page-list .pagination span {cursor: pointer;}
    .page-list .pagination .separate span{cursor: default; border-top:none;border-bottom:none;}
    .page-list .pagination .separate span:hover {background: none;}
    .page-list .page-total {float:left; margin: 25px 20px;}
    .page-list .page-total input, .page-list .page-total select{height: 26px; border: 1px solid #ddd;}
    .page-list .page-total input {width: 40px; padding-left:3px;}
    .page-list .page-total select {width: 50px;}
</style>
<section class="content">
	<div class="box">
		<div class="box-header">
			<h3 class="box-title">促销门店</h3>
			<div class="box-tools">
				<a class="btn btn-primary btn-flat" href="/backend/list/promotion"><i
					class="fa  fa-angle-double-left"></i> 返回</a>
				<a class="btn btn-primary btn-flat" href="/backend/add/promotionStore?promotionId={{promotionId}}"><i
					class="fa fa-plus"></i> 添加</a> <a class="btn btn-danger btn-flat"
					href="javascript:void(0)" ng-click="del()"><i class="fa fa-minus"></i> 删除</a>
			</div>
		</div>
		<div class="box-body">
			<div class="table-responsive mailbox-messages">
				<table class="table table-hover">
					<tr>
						<th width="30"><button type="button"
								class="btn btn-default btn-sm checkbox-toggle">
								<i class="fa fa-square-o"></i>
							</button></th>
						<th>促销活动</th>
						<th>门店</th>
						<th>生效日期</th>
						<th>失效日期</th>
						<th>操作</th>
					</tr>
					<tr ng-repeat="result in basicsInfo.results"  on-render-finish>
						<td align="center"><input type="checkbox" ng-click="check(result.id,chk)" ng-model="chk"></td>
		                <td>{{result.promotion.name}}</td>
		                <td>{{result.store.name}}</td>
						<td>{{result.effDate | date:'yyyy-MM-dd'}}</td>
						<td>{{result.expDate | date:'yyyy-MM-dd'}}</td>
						<td><a href="/backend/edit/promotionStore/{{result.id}}?promotionId={{promotionId}}" class="btn btn-info btn-xs">编辑</a></td>
					</tr>
				</table>
			</div>
			<div class="row">
				<tm-pagination conf="paginationConf"></tm-pagination>
			</div>
		</div>
		<!-- /.box-body -->
	</div>
</section>