<style>
    .page-list .pagination {float:left;}
    .page-list .pagination span {cursor: pointer;}
    .page-list .pagination .separate span{cursor: default; border-top:none;border-bottom:none;}
    .page-list .pagination .separate span:hover {background: none;}
    .page-list .page-total {float:left; margin: 25px 20px;}
    .page-list .page-total input, .page-list .page-total select{height: 26px; border: 1px solid #ddd;}
    .page-list .page-total input {width: 40px; padding-left:3px;}
    .page-list .page-total select {width: 50px;}
</style>
<section class="content">
	<div class="box">
		<div class="box-header">
			<h3 class="box-title">价格管理</h3>
			<div class="box-tools">
				<a class="btn btn-primary btn-flat" href="/backend/add/retailPrice"><i
					class="fa fa-plus"></i> 添加</a> <a class="btn btn-danger btn-flat"
					href="javascript:void(0)" ng-click="del()"><i class="fa fa-minus"></i> 删除</a>
			</div>
		</div>
		<div class="box-header">
			
			<div class="input-group input-group-sm" style="width: 80%">
				<input type="text" name="table_search"
					class="form-control " placeholder="门店编号" id="input3" ng-model="selectForm.storeCode" style="width:20%">
				<input type="text" name="table_search"
					class="form-control " placeholder="门店名称" id="input4" ng-model="selectForm.storeName" style="width:20%">
				<input type="text" name="table_search"
					class="form-control " placeholder="物料编号" id="input5" ng-model="selectForm.mcode" style="width:20%;">
				<input type="text" name="table_search"
					class="form-control " placeholder="物料名称" id="input6" ng-model="selectForm.mname" style="width:20%;">
			</div>
			<div class="input-group input-group-sm" style="width: 81%">
				<input type="text" name="table_search"
					class="form-control" placeholder="生效日期" id="input1" ng-model="selectForm.effDate" style="width:40%" data-provide="datepicker-inline" data-date-format="yyyy-mm-dd">
				<input type="text" name="table_search"
					class="form-control" placeholder="失效日期" id="input2" ng-model="selectForm.expDate" style="width:40%" data-provide="datepicker-inline" data-date-format="yyyy-mm-dd">
				<button type="submit" class="btn btn-primary" ng-click="queryByPage()">
						<i class="fa fa-search"></i>
				</button>
			</div>
		</div>
		<div class="box-body">
			<div class="table-responsive mailbox-messages">
				<table class="table table-hover">
					<tr>
						<th width="30"><button type="button"
								class="btn btn-default btn-sm checkbox-toggle">
								<i class="fa fa-square-o"></i>
							</button></th>
						<th>门店</th>
						<th>物料</th>
						<th>销售单位</th>
						<th>销售价格</th>
						<th>生效日期</th>
						<th>失效日期</th>
						<th>操作</th>
					</tr>
					<tr ng-repeat="result in basicsInfo.results"  on-render-finish>
						<td align="center"><input type="checkbox" ng-click="check(result.id,chk)" ng-model="chk"></td>
		                <td>{{result.store.name}}</td>
		                <td>{{result.material.name}}</td>
		                <td>{{result.unit.name}}</td>
		                <td>{{result.price}}</td>
		                <td>{{result.effectiveDate | date:'yyyy-MM-dd'}}</td>
		                <td>{{result.expiryDate | date:'yyyy-MM-dd'}}</td>
						<td><a href="/backend/edit/retailPrice/{{result.id}}" class="btn btn-info btn-xs">编辑</a></td>
		            </tr>
				</table>
			</div>
			<div class="row">
				<div class="col-sm-5">
					<div class="dataTables_info">{{basicsInfo.pageNo}}/{{basicsInfo.totalPage}}</div>
				</div>
				<tm-pagination conf="paginationConf"></tm-pagination>
			</div>
		</div>
		<!-- /.box-body -->
	</div>
</section>