<style>
.ngdialog.ngdialog-theme-default {
	padding-top:0px;
	padding-bottom:160px;
}
</style>

<div class="modal-content">
	<div class="modal-header">
		<h4 class="modal-title" id="myModalLabel">订单详情</h4>
	</div>
	<div class="modal-body">
		<div class="margin-bottom">
			<table class="table text-right">
            	<tbody><tr>
                <td>交易序号</td><td><input type="text" class="form-control" value="{{salesOrder.code}}" readonly></td>
                <td>销售日期</td><td><input type="text" class="form-control" value="{{salesOrder.finished | date:'yyyy-MM-dd HH:mm:ss'}}" readonly></td>
                <td>导购</td><td><input type="text" class="form-control" value="{{salesOrder.shoppingGuide.name}}" readonly></td>
                </tr>
                <tr>
                <td>会员姓名</td><td><input type="text" class="form-control" value="{{salesOrder.member.memberName}}" readonly></td>
                <td>会员等级</td><td><input type="text" class="form-control" value="{{salesOrder.member.memberGrade}}" readonly></td>
                <td>会员手机号码</td><td><input type="text" class="form-control" value="{{salesOrder.member.memberMobile}}" readonly></td>
                </tr>
                <tr>
                <td>总数量</td><td><input type="text" class="form-control" value="{{salesOrder.quantity}}" readonly></td>
                <td>总金额</td><td><input type="text" class="form-control" value="{{salesOrder.payable}}" readonly></td>
                <td>总折扣金额</td><td><input type="text" class="form-control" value="{{salesOrder.discount}}" readonly></td>
                </tr>
                <tr>
                <td>抹零金额</td><td><input type="text" class="form-control" value="{{salesOrder.minusChange}}" readonly></td>
                <td>&nbsp;</td><td>&nbsp;</td>
                <td>应付金额</td><td><input type="text" class="form-control" value="{{salesOrder.payable}}" readonly></td>
                </tr>
            </tbody></table>
		</div>
		<div>
			<table class="table table-bordered table-hover">
				<tbody>
					<tr>
						<th>序号</th>
		                <th>货号</th>
		                <th>品名</th>
		                <th>属性</th>
		                <th>单价</th>
		                <th>数量</th>
		                <th>金额</th>
		                <th>促销活动</th>
					</tr>
					<tr ng-repeat="detail in salesOrder.salesOrderDetails">
						<td>{{detail.serialNo}}</td>
						<td>{{detail.material.code}}</td>
						<td>{{detail.material.abbr}}</td>
						<td  ng-if="detail.color!=null && detail.size!=null">{{detail.color.name}}/{{detail.size.name}}</td>
						<td  ng-if="detail.color==null || detail.size==null">-</td>
						<td>{{detail.price}}/{{detail.salesUnit.name}}</td>
						<td>{{detail.quantity}}</td>
						<td>{{detail.amount}}</td>
						<td>{{detail.promotion.name}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">支付详情</h4>
    </div>
	<div class="">
        <div class="">
        	<table class="table">
                <tbody><tr>
                <td width="40%"></td>
                <td>溢收金额</td><td><input type="text" class="form-control" value="{{salesOrder.excess}}" readonly></td>
                <td>实付金额</td><td><input type="text" class="form-control" value="{{salesOrder.paid}}" readonly></td>
                </tr>
            </tbody></table>
        </div>
         <div>
         	
        	<table class="table">
            	<tbody><tr>
                <th>序号</th>
                <th>支付方式</th>
                <th>支付金额</th>
                <th>找零</th>
                <th>溢收</th>
                <th>交易流水号</th>
                </tr>
                <tr ng-repeat="pay in salesOrder.salesOrderPay">
               		<td>{{pay.serialNo}}</td>
					<td>{{pay.payment.name}}</td>
					<td>{{pay.amount}}</td>
					<td>{{pay.changed}}</td>
					<td>{{pay.excess}}</td>
					<td>{{pay.transNo}}</td>
				</tr>
            </tbody></table>
        </div>
       </div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close();">取消</button>
		<button type="button" class="btn btn-default" ng-click="refund(salesOrder.id)">整单退货</button>
	</div>
</div>
