
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">导购员</h4>
			</div>
			<div class="modal-body">
				<div class="box no-border no-shadow">
					<div class="box-header">
						<div style="width: 250px;"  class="input-group input-group-sm">
							<input type="text" placeholder="编号"
								class="form-control pull-right" name="table_search" id="code" name="code" ng-bind="form.code" ng-model="form.code">
							<div class="input-group-btn">
								<button class="btn btn-primary" type="submit" ng-click="search()">提交</button>
							</div>
						</div>
					</div>
					<div class="box-body">
						<table id="table1" class="table table-bordered table-hover cursor">
							<tbody>
								<tr>
									<th>导购员编号</th>
									<th>姓名</th>
								</tr>
								
								<tr ng-repeat="guide in array" ng-click="choose(guide);">
									<td>{{guide.code}}</td>
									<td>{{guide.name}}</td>
								</tr>
								
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="close()">取消</button>
				<button type="submit" class="btn btn-primary">提交</button>
			</div>
		</div>
