<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!--实体类别名 -->
	     <typeAlias type="com.joker.common.model.Client" alias="client" />
	     <typeAlias type="com.joker.common.model.Store" alias="store" />
	     <typeAlias type="com.joker.common.model.Account" alias="account" />
	     <typeAlias type="com.joker.common.model.Role" alias="role" />
	     <typeAlias type="com.joker.common.model.SalesConfig" alias="salesConfig" />
	     <typeAlias type="com.joker.common.model.SalesOrder" alias="salesOrder" />
	     <typeAlias type="com.joker.common.model.ShoppingGuide" alias="shoppingGuide" />
	     <typeAlias type="com.joker.common.model.Material" alias="material" />
	     <typeAlias type="com.joker.common.model.MaterialProperty" alias="materialProperty" />
	     <typeAlias type="com.joker.common.model.RetailPrice" alias="retailPrice" />
	</typeAliases>

    <plugins>
        <plugin interceptor="com.joker.core.interceptor.PageInterceptor">
            <property name="databaseType" value="mysql"/>
        </plugin>
    </plugins>
    
</configuration>