<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!--实体类别名 -->
	     <typeAlias type="com.joker.common.model.Client" alias="client" />
	     <typeAlias type="com.joker.common.model.Store" alias="store" />
	     <typeAlias type="com.joker.common.model.Account" alias="account" />
	     <typeAlias type="com.joker.common.model.Role" alias="role" />
	     <typeAlias type="com.joker.common.model.SalesConfig" alias="salesConfig" />
	     <typeAlias type="com.joker.common.model.SalesOrderDetails" alias="salesOrderDetails" />
	     <typeAlias type="com.joker.common.model.SalesOrderPay" alias="salesOrderPay" />
	     <typeAlias type="com.joker.common.model.SalesOrderDiscount" alias="salesOrderDiscount" />
	     <typeAlias type="com.joker.common.model.SalesOrder" alias="salesOrder" />
	     <typeAlias type="com.joker.common.model.ShoppingGuide" alias="shoppingGuide" />
	     <typeAlias type="com.joker.common.model.Material" alias="material" />
	     <typeAlias type="com.joker.common.model.MaterialProperty" alias="materialProperty" />
	     <typeAlias type="com.joker.common.model.RetailPrice" alias="retailPrice" />
	     <typeAlias type="com.joker.common.model.promotion.Promotion" alias="promotion" />
	     <typeAlias type="com.joker.common.model.promotion.PromotionPayment" alias="promotionPayment" />
	     <typeAlias type="com.joker.common.model.promotion.PromotionOffer" alias="promotionOffer" />
	     <typeAlias type="com.joker.common.model.promotion.PromotionOfferMatchContent" alias="promotionOfferMatchContent" />
	     <typeAlias type="com.joker.common.model.promotion.PromotionCondition" alias="promotionCondition" />
	     <typeAlias type="com.joker.common.model.promotion.PromotionConditionMatchContent" alias="promotionConditionMatchContent" />
	     <typeAlias type="com.joker.common.model.promotion.PromotionStore" alias="promotionStore" />
	     <typeAlias type="com.joker.common.model.ClientPayment" alias="clientPayment" />
	     <typeAlias type="com.joker.common.model.AccountRole" alias="accountRole" />
	     <typeAlias type="com.joker.common.model.AccountStore" alias="accountStore" />
	     <typeAlias type="com.joker.common.model.RetailConfig" alias="retailConfig" />
	     <typeAlias type="com.joker.common.model.Brand" alias="brand" />
	     <typeAlias type="com.joker.common.model.Color" alias="color" />
	     <typeAlias type="com.joker.common.model.MaterialCategory" alias="materialCategory" />
	     <typeAlias type="com.joker.common.model.Size" alias="size" />
	     <typeAlias type="com.joker.common.model.Unit" alias="unit" />
	     <typeAlias type="com.joker.common.model.UnitConversion" alias="unitConversion" />
	     <typeAlias type="com.joker.common.model.Terminal" alias="terminal" />
	     <typeAlias type="com.joker.common.model.Payment" alias="payment" />
	     <typeAlias type="com.joker.common.model.TransClass" alias="transClass" />
	     <typeAlias type="com.joker.common.model.ItemClass" alias="itemClass" />
	     <typeAlias type="com.joker.common.model.MemberPointPayConfig" alias="memberPointPayConfig" />
	      
	</typeAliases>

    <plugins>
        <plugin interceptor="com.joker.core.interceptor.PageInterceptor">
            <property name="databaseType" value="mysql"/>
        </plugin>
    </plugins>
    
</configuration>