<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration debug="true">

	<appender name="rootlogAppender"
		class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[ %p ] %d{yyyy-MM-dd HH:mm:ss} %c %m%n" />
		</layout>
	</appender>

	<appender name="exlogAppender"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/Users/chenqi/disk/logs/exlog.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[ %p ] %d{yyyy-MM-dd HH:mm:ss} %c %m%n" />
		</layout>
	</appender>

	<appender name="debuglogAppender"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/Users/chenqi/disk/logs/debuglog.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[ %p ] %d{yyyy-MM-dd HH:mm:ss} %c %m%n" />
		</layout>
	</appender>

	<appender name="perflogAppender"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/Users/chenqi/disk/logs/perflog.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[ %p ] %d{yyyy-MM-dd HH:mm:ss} %c %m%n" />
		</layout>
	</appender>

	<category name="exlog">
		<level value="DEBUG" />
		<appender-ref ref="exlogAppender" />
	</category>

	<category name="debuglog">
		<level value="DEBUG" />
		<appender-ref ref="debuglogAppender" />
	</category>

	<category name="perflog">
		<level value="DEBUG" />
		<appender-ref ref="perflogAppender" />
	</category>

	<root>
		<level value="INFO" />
		<appender-ref ref="rootlogAppender" />
	</root>

</log4j:configuration>