<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joker.common.mapper.BusinessMapper">

	<insert id="add" parameterType="Business" useGeneratedKeys="true" keyProperty="BusinessId">
		INSERT  INTO TBUSINESS <include refid="BusinessSet" />
	</insert>

	<sql id="BusinessSet">
		<set >
			<if test= "gameName != null">gameName=#{gameName,jdbcType=VARCHAR},</if >
			<if test= "enName != null">enName=#{enName,jdbcType=VARCHAR},</if >
			<if test= "gameTypeCode != null">gameTypeCode=#{gameTypeCode,jdbcType=VARCHAR},</if >
			<if test= "platformCode != null">platformCode=#{platformCode,jdbcType=VARCHAR},</if >
			<if test= "editionCode != null">editionCode=#{editionCode,jdbcType=VARCHAR},</if >
			<if test= "price != null">price=#{price,jdbcType=DECIMAL},</if >
			<if test= "qualityCode != null">qualityCode=#{qualityCode,jdbcType=VARCHAR},</if >
			<if test= "qq != null">locked=#{qq,jdbcType=VARCHAR},</if >
			<if test= "mobilephone != null">mobilephone=#{mobilephone,jdbcType=VARCHAR},</if >
			<if test= "maker != null">maker=#{maker,jdbcType=VARCHAR},</if >
			<if test= "publisher != null">publisher=#{publisher,jdbcType=VARCHAR},</if >
			<if test= "businessTypeCode != null">businessTypeCode=#{businessTypeCode,jdbcType=VARCHAR},</if >
			<if test= "tradingWayCode != null">tradingWayCode=#{tradingWayCode,jdbcType=VARCHAR},</if >
			<if test= "location != null">location=#{location,jdbcType=VARCHAR},</if >
			<if test= "description != null">description=#{description,jdbcType=VARCHAR},</if >
			<if test= "img != null">img=#{img,jdbcType=VARCHAR},</if >
			<if test= "createDate != null">createDate=#{createDate},</if >
			<if test= "modifyDate != null">modifyDate=#{modifyDate},</if >
			<if test= "creator != null">creator=#{creator,jdbcType=VARCHAR},</if >
			<if test= "level != null">level=#{level,jdbcType=VARCHAR},</if >
		</set>
	</sql >

	<update id="update" parameterType="Business" >
		UPDATE TBUSINESS <include refid="BusinessSet" /> WHERE BUSINESSID = #{businessId}
	</update>

	<delete id="del" parameterType="string">
		DELETE FROM TBUSINESS WHERE BUSINESSID = #{businessId}
	</delete>

	<select id="getBusinessList" parameterType="Page" resultType="Business">
		select businessId,gameName,maker,price,location,img,createDate
		from tbusiness
		where 1=1
		<if test= "params.gameTypeCode != null"> AND gameTypeCode = #{params.gameTypeCode} </if >
	</select>

	<select id="getBusinessById" parameterType="string" resultType="Business">
		select businessId,gameName,maker,price,location,img,createDate
		from tbusiness
		WHERE BUSINESSID = #{businessId}
	</select>

</mapper>