<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joker.common.mapper.UserMapper">

	<select id="selectByName" parameterType="string" resultType="User">
		select * from tuser where userName = #{userName}
	</select>

	<select id="selectById" parameterType="string" resultType="User">
		select * from tuser where userId = #{userId}
	</select>

	<select id="selectByNickName" parameterType="string" resultType="User">
		select * from tuser where nickName = #{nickName}
	</select>

	<insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="userId">
		insert into tuser <include refid="UserSet" />
	</insert>

	<update id="update" parameterType="User" >
		UPDATE tuser <include refid="UserSet" /> WHERE userId = #{userId}
	</update>

	<delete id="del" parameterType="string">
		DELETE FROM tuser WHERE userId = #{userId}
	</delete>

	<sql id="UserSet">
		<set >
			<if test= "userName != null">userName=#{userName,jdbcType=VARCHAR},</if >
			<if test= "nickName != null">nickName=#{nickName,jdbcType=VARCHAR},</if >
			<if test= "password != null">password=#{password,jdbcType=VARCHAR},</if >
			<if test= "createDate != null">createDate=#{createDate},</if >
			<if test= "ip != null">ip=#{ip,jdbcType=VARCHAR},</if >
			<if test= "photo != null">photo=#{photo,jdbcType=VARCHAR},</if >
			<if test= "qq != null">qq=#{qq,jdbcType=VARCHAR},</if >
			<if test= "locked != null">locked=#{locked,jdbcType=TINYINT},</if >
			<if test= "token != null">token=#{token,jdbcType=VARCHAR},</if >
		</set>
	</sql >

	<update id="updateToken" parameterType="String" >
		update tuser set token=#{token} where userId=#{userId}
	</update>

	<update id="setLoginInfo" parameterType="User" >
		update tuser set ip=#{ip},lastLoginDate=#{lastLoginDate} where userId=#{userId}
	</update>

</mapper>