<!-- Content Header (Page header) -->
<div> 
    <section class="content-header">
      <h1>&nbsp;</h1>
      <ol class="breadcrumb">
        <li><a href="/front/home.html"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">销售</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-xs-4">
          <div class="box box-primary">
          	<div class="box-header">
              <h3 class="box-title">交易信息</h3>
              <div class="box-tools">
                <a id="cancelSale" href="javascript:;;" ng-click="cancelSale();" class="btn btn-danger btn-flat" ng-show="info.saleInfos.length>0">取消交易</a>
              </div>
            </div>
            <div class="box-body">
            	<ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>营业日期</b> <a class="pull-right">{{info.saleDate | date:'yyyy-MM-dd'}}</a>
                </li>
                <li class="list-group-item">
                  <b ng-model="info.member.member">会员</b><b>{{info.member.memberName}}</b> <a class="pull-right" ng-click="memberSearch()"><img height="30px" width="30px" src="/front/statics/dist/images/tubiao.png"></a>
                </li>
                <li class="list-group-item">
                  <b ng-model="info.shoppingGuide.id">导购</b> <b>{{info.shoppingGuide.name}}</b> <a class="pull-right" ng-click="shoppingGuideSearch()"><img height="30px" width="30px" src="/front/statics/dist/images/tubiao.png"></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-xs-4">
          <div class="box box-info">
          	<div class="box-header">
              <h3 class="box-title">结算信息</h3>
              <div class="box-tools">
                <a id="btn2" href="javascript:;;" class="btn btn-info btn-flat" ng-show="info.saleInfos.length>0" ng-click="checkout();">结算</a>
              </div>
            </div>
            <div class="box-body">
            	<ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>总数量</b> <a class="pull-right text-black" id="quantity">{{info.totalNum}}</a>
                </li>
                <li class="list-group-item">
                  <b>总金额</b> <a class="pull-right text-black" id="total">¥{{info.totalPrice}}</a>
                </li>
                <li class="list-group-item">
                  <b>总折扣</b> <a class="pull-right text-black" id="discount">¥{{info.totalDiscPrice}}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-xs-4">
          <div class="box box-success">
          	<div class="box-header">
              <h3 class="box-title">付款信息</h3>
            </div>
            <div class="box-body">
            	<ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>应付金额</b> <a class="pull-right text-black" id="final_total">¥{{info.pay}}</a>
                </li>
                <li class="list-group-item">
                  <b>已付金额</b> <a class="pull-right text-black" id="already_pay">¥{{info.payed}}</a>
                </li>
                <li class="list-group-item">
                  <b>尚需付款</b> <a class="pull-right text-danger text-bold" id="need_pay">¥{{info.needPay}}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->
      
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">销售明细</h3>
          <div class="box-tools">
            <a id="btn4" href="#" class="btn btn-info btn-flat" ng-if="info.allDISC == 1" ng-click="allDISC();">整单打折</a>
          </div>
        </div>
        <div class="box-header">
        	<div class="">
            <div style="width:250px;" class="input-group input-group-sm">
              <input id="matCode" ng-model="matForm.code" ng-keydown="keydown($event)" type="text" placeholder="搜索" class="form-control pull-right" name="table_search">
              <div class="input-group-btn">
                <button id="btn3" class="btn btn-primary" type="submit" ng-click="searchMat();"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </div>
        </div>
        <div class="box-body">
        	<table id="tableSale" class="table table-bordered table-hover">
            	<tr>
                <th width="30">&nbsp;</th>
                <th>序号</th>
                <th>货号</th>
                <th>品名</th>
                <th>属性</th>
                <th>单价</th>
                <th>数量</th>
                <th>金额</th>
                </tr>
                <tr ng-repeat="saleInfo in info.saleInfos"  on-render-finish>
                <td width="30"><button type="button" class="close" ng-click="deleteSaleInfo(saleInfo);">×</button></td>
                <td>{{$index+1}}</td>
                <td>{{saleInfo.code}}</td>
                <td>{{saleInfo.abbr}}</td>
                <td ng-click="updateAttr(saleInfo);">{{saleInfo.color.name}}/{{saleInfo.size.name}}</td>
                <td>{{saleInfo.retailPrice}}</td>
                <td class="editable" index={{$index}}>{{saleInfo.count}}</td>
                <td ng-click="itemDISC(saleInfo);" ng-show="saleInfo.discType!=1 && saleInfo.discType!=2 && saleInfo.discType!=3">{{saleInfo.count * saleInfo.retailPrice | number:2}}</td>
                <td ng-show="saleInfo.discType==1 || saleInfo.discType==2 || saleInfo.discType==3">{{saleInfo.totalPrice}}</td>
                </tr>
            </table>
        </div>
     </div>
    </section>
    <!-- /.content -->
  </div>

