<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joker.common.mapper.AccountRoleMapper">
     
    
    <resultMap type="accountRole" id="accountRole">
		<result property="id" column="ID" />
		<result property="client.id" column="Client" />
		<result property="role.id" column="Role" />
		<result property="account.id" column="Account" />
		<result property="creator" column="Creator" />
		<result property="created" column="Created" />
	</resultMap>
	
	<delete id="deleteAccountRoleByID" parameterType="string">
		DELETE FROM AccountRole where ID =#{id}
	</delete>
	
	<delete id="deleteAccountRoleByCondition" parameterType="accountRole">
		DELETE FROM AccountRole where Account=#{account.id}
	</delete>
	
	
	<insert id="insertAccountRole" parameterType="accountRole">
		insert into AccountRole <include refid="accountRoleSet" />
	</insert>
	
	<update id="updateAccountRole" parameterType="accountRole" >
		UPDATE AccountRole <include refid="accountRoleSet" /> WHERE ID = #{id}
	</update>
    
    <sql id="accountRoleSet">
		<set >
			<include refid="accountRoleCondition" />
		</set>
	</sql >
	
	<sql id="accountRoleCondition">
		<if test= "id != null">ID=#{id,jdbcType=VARCHAR},</if >
		<if test= "client != null">Client=#{client.id,jdbcType=VARCHAR},</if >
		<if test= "role != null">Role=#{role.id,jdbcType=VARCHAR},</if >
		<if test= "account != null">Account=#{account.id,jdbcType=VARCHAR},</if >
		<if test= "creator != null">Creator=#{creator},</if >
		<if test= "created != null">Created=#{created},</if >	
	</sql >
</mapper>