<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joker.common.mapper.ColorMapper">
     
    
    <resultMap type="color" id="color">
		<result property="id" column="ID" />
		<result property="client.id" column="Client" />
		<result property="code" column="Code" />
		<result property="name" column="Name" />
		<result property="status" column="Status" />
		<result property="creator" column="Creator" />
		<result property="created" column="Created" />
		<result property="editor" column="Editor" />
		<result property="modified" column="Modified" />
	</resultMap>
	
	<resultMap type="color" id="colorPage" extends="color">
		<result property="client.name" column="ClientName" />
	</resultMap>
    
	<select id="getColorByID" parameterType="string" resultMap="color">
		SELECT 
			a.ID,a.Client,a.Code,a.Name,a.Status,a.Creator,a.Created,a.Editor,a.Modified
		FROM Color a
		WHERE a.ID=#{id} 
	</select>
	
	<select id="getColorPageByCondition" parameterType="java.util.Map" resultMap="colorPage">
		SELECT 
			a.ID,a.Client,a.Code,a.Name,a.Status,a.Creator,a.Created,a.Editor,a.Modified,c.Name ClientName
		FROM Color a left outer join Client c
		on a.Client = c.id and c.status = 1 
		WHERE a.Status = 1
			<if test="clientId != null">
				and a.Client=#{clientId}
			</if>
			<if test="code != null">
				and a.Code=#{code}
			</if>
			<if test="likeName != null">
				and a.name like CONCAT('%','${likeName}','%' )  
			</if>
			order by a.ID desc
			<if test="start != null and limit != null">
				limit #{start},#{limit}
			</if>
	</select>
	
	<select id="getColorCountByCondition" parameterType="java.util.Map" resultType="int">
		SELECT count(1)
		FROM Color a WHERE a.Status= 1
			<if test="clientId != null">
				and a.Client=#{clientId}
			</if>
			<if test="code != null">
				and a.Code=#{code}
			</if>
			<if test="likeName != null">
				and a.name like CONCAT('%','${likeName}','%' )  
			</if>
	</select>
	
	<delete id="deleteColorByID" parameterType="string">
		DELETE FROM Color where ID =#{id}
	</delete>
	
	<insert id="insertColor" parameterType="color">
		insert into Color <include refid="colorSet" />
	</insert>
	
	<update id="updateColor" parameterType="color" >
		UPDATE Color <include refid="colorSet" /> WHERE ID = #{id}
	</update>
    
    <sql id="colorSet">
		<set >
			<if test= "id != null">ID=#{id,jdbcType=VARCHAR},</if >
			<if test= "client != null">Client=#{client.id,jdbcType=VARCHAR},</if >
			<if test= "code != null">Code=#{code,jdbcType=VARCHAR},</if >
			<if test= "name != null">Name=#{name,jdbcType=VARCHAR},</if >
			<if test= "status != null">Status=#{status},</if >
			<if test= "creator != null">Creator=#{creator},</if >
			<if test= "created != null">Created=#{created},</if >
			<if test= "editor != null">Editor=#{editor,jdbcType=VARCHAR},</if >
			<if test= "modified != null">Modified=#{modified},</if >
			
		</set>
	</sql >
    
</mapper>