<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joker.common.mapper.ItemClassMapper">
     
    
    <resultMap type="itemClass" id="itemClass">
		<result property="code" column="Code" />
		<result property="name" column="Name" />
		<result property="status" column="Status" />
		<result property="creator" column="Creator" />
		<result property="created" column="Created" />
		<result property="editor" column="Editor" />
		<result property="modified" column="Modified" />
	</resultMap>
	
	
	<select id="getItemClassByCode" parameterType="string" resultMap="itemClass">
		SELECT 
			*
		FROM ItemClass 
		WHERE Code=#{code} 
	</select>
	
	<select id="getItemClassByCondition" parameterType="java.util.Map" resultMap="itemClass">
		SELECT 
			* from ItemClass a 
		WHERE 1=1
			<if test="code != null">
				and a.Code=#{code}
			</if>
			<if test="likeName != null">
				and a.Name like CONCAT('%','${likeName}','%' )  
			</if>
			<if test="start != null and limit != null">
				limit #{start},#{limit}
			</if>
	</select>
	
	<select id="getItemClassCountByCondition" parameterType="java.util.Map" resultType="int">
		SELECT count(1)
		FROM ItemClass a WHERE 1=1
			<if test="code != null">
				and a.Code=#{code}
			</if>
			<if test="likeName != null">
				and a.Name like CONCAT('%','${likeName}','%' )  
			</if>
			<if test="start != null and limit != null">
				limit #{start},#{limit}
			</if>
	</select>
	
	<delete id="deleteItemClassByCode" parameterType="string">
		DELETE FROM ItemClass where Code =#{code}
	</delete>
	
	<insert id="insertItemClass" parameterType="itemClass">
		insert into ItemClass <include refid="ItemClassSet" />
	</insert>
	
	<update id="updateItemClass" parameterType="itemClass" >
		UPDATE ItemClass <include refid="ItemClassSet" /> WHERE Code = #{code}
	</update>
    
    <sql id="ItemClassSet">
		<set >
			<if test= "code != null">Code=#{code,jdbcType=VARCHAR},</if >
			<if test= "name != null">Name=#{name,jdbcType=VARCHAR},</if >
			<if test= "status != null">Status=#{status},</if >
			<if test= "creator != null">Creator=#{creator},</if >
			<if test= "created != null">Created=#{created},</if >
			<if test= "editor != null">Editor=#{editor,jdbcType=VARCHAR},</if >
			<if test= "modified != null">Modified=#{modified},</if >
			
		</set>
	</sql >
	
	
	
</mapper>