<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joker.common.mapper.MaterialPropertyMapper">
     
    
    <resultMap type="materialProperty" id="materialProperty">
		<result property="id" column="ID" />
		<result property="client.id" column="Client" />
		<result property="material.id" column="Material" />
		<result property="color.id" column="Color" />
		<result property="color.code" column="ColorCode" />
		<result property="color.name" column="ColorName" />
		<result property="size.id" column="Size" />
		<result property="size.code" column="SizeCode" />
		<result property="size.name" column="SizeName" />
		<result property="barCode" column="Barcode" />
		<result property="status" column="Status" />
		<result property="creator" column="Creator" />
		<result property="created" column="Created" />
		<result property="editor" column="Editor" />
		<result property="modified" column="Modified" />
	</resultMap>
	
	<resultMap type="materialProperty" id="materialPropertyPage" extends="materialProperty">
		<result property="client.name" column="ClientName" />
	</resultMap>
	
	<select id="getMaterialPropertyByCondition" resultMap="materialProperty">
		SELECT mp.ID,mp.Client,mp.Material,mp.Color,mp.Size,mp.Barcode,mp.Status,size.code as SizeCode,size.name as SizeName,
		color.code as ColorCode,color.name as ColorName
		FROM MaterialProperty mp,Material m,Size size,Color color WHERE m.ID=mp.Material 
		AND size.id=mp.Size AND color.id=mp.Color 
		 AND mp.Status=1 AND m.Status=1 AND size.Status=1 AND color.Status=1
		and mp.Client=#{clientId}
		<if test="materialId !=null"> and mp.Material=#{materialId}</if>
		<if test="materialCode !=null"> and m.Code=#{materialCode}</if>
		<if test="barCode !=null"> and mp.Barcode=#{barCode}</if>		
	</select>

	<select id="getMaterialPropertyByID" parameterType="string" resultMap="materialProperty">
		SELECT 
			a.ID,a.Client,a.Material,a.Color,a.Size,a.Barcode,a.Status
		FROM MaterialProperty a
		WHERE a.ID=#{id} 
	</select>
	
	<select id="getMaterialPropertyPageByCondition" parameterType="java.util.Map" resultMap="materialPropertyPage">
		SELECT 
			a.ID,a.Client,a.Material,a.Color,a.Size,a.Barcode,a.Status,c.Name ClientName
		FROM MaterialProperty a 
		join Material b on a.Material=b.id
		left outer join Client c
		on a.Client = c.id and c.status = 1  
		WHERE 
			a.Status= 1
			<if test="clientId != null">
				and a.Client=#{clientId}
			</if>
			<if test="code != null">
				and b.Code=#{code}
			</if>
			<if test="likeName != null">
				and b.Name like CONCAT('%','${likeName}','%' )  
			</if>
			order by a.ID desc
			<if test="start != null and limit != null">
				limit #{start},#{limit}
			</if>
	</select>
	
	<select id="getMaterialPropertyCountByCondition" parameterType="java.util.Map" resultType="int">
		SELECT 
			count(1)
		FROM MaterialProperty a 
		join Material b on a.Material=b.id
		left outer join Client c
		on a.Client = c.id and c.status = 1 
			<if test="clientId != null">
				and a.Client=#{clientId}
			</if>
			<if test="code != null">
				and b.Code=#{code}
			</if>
			<if test="likeName != null">
				and b.Name like CONCAT('%','${likeName}','%' )  
			</if>
	</select>
	
	<delete id="deleteMaterialPropertyByID" parameterType="string">
		DELETE FROM MaterialProperty where ID =#{id}
	</delete>
	
	<insert id="insertMaterialProperty" parameterType="materialProperty">
		insert into MaterialProperty <include refid="materialPropertySet" />
	</insert>
	
	<update id="updateMaterialProperty" parameterType="materialProperty" >
		UPDATE MaterialProperty <include refid="materialPropertySet" /> WHERE ID = #{id}
	</update>
    
    <sql id="materialPropertySet">
		<set >
			<if test= "id != null">ID=#{id,jdbcType=VARCHAR},</if >
			<if test= "client != null">Client=#{client.id,jdbcType=VARCHAR},</if >
			<if test= "material != null">Material=#{material.id,jdbcType=VARCHAR},</if >
			<if test= "color != null">Color=#{color.id,jdbcType=VARCHAR},</if >
			<if test= "size != null">Size=#{size.id,jdbcType=VARCHAR},</if >
			<if test= "barCode != null">Barcode=#{barCode},</if >
			<if test= "status != null">Status=#{status},</if >
		</set>
	</sql >
</mapper>