<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joker.common.mapper.PromotionMapper">
     
    
    <resultMap type="promotion" id="promotion">
		<result property="id" column="ID" />
		<result property="client.id" column="Client" />
		<result property="store.id" column="Store" />
		<result property="code" column="Code" />
		<result property="name" column="Name" />
		<result property="memo" column="Memo" />
		<result property="effDate" column="EffectiveDate" />
		<result property="expDate" column="ExpiryDate" />
		<result property="effTime" column="EffectiveTime" />
		<result property="expTime" column="ExpiryTime" />
		<result property="repeatEffect" column="RepeatEffect" />
		<result property="week" column="Week" />
		<result property="days" column="Days" />
		<result property="paymentRestrict" column="PaymentRestrict" />
		<result property="memberRestrict" column="MemberRestrict" />
		<result property="offerRelation" column="OfferRelation" />
		<result property="excluded" column="Excluded" />
		<result property="status" column="Status" />
		<result property="creator" column="Creator" />
		<result property="created" column="Created" />
		<result property="editor" column="Editor" />
		<result property="modified" column="Modified" />
		<result property="sort" column="Sort" />
	</resultMap>
	
	<resultMap type="promotion" id="promotionPage" extends="promotion">
		<result property="client.name" column="ClientName" />
	</resultMap>
	
	<resultMap type="promotionPayment" id="promotionPayment">
		<result property="id" column="ID" />
		<result property="client.id" column="Client" />
		<result property="promotion.id" column="Promotion" />
		<result property="clientPayment.id" column="ClientPayment" />
		<result property="clientPayment.payment.code" column="ClientPaymentCode" />
	</resultMap>
	
	<resultMap type="promotionOffer" id="promotionOffer">
		<result property="id" column="ID" />
		<result property="client.id" column="Client" />
		<result property="promotion.id" column="Promotion" />
		<result property="offerType" column="OfferType" />
		<result property="offerContent" column="OfferContent" />
		<result property="matchType" column="MatchType" />
	</resultMap>
	
	<resultMap type="promotionOfferMatchContent" id="promotionOfferMatchContent">
		<result property="id" column="ID" />
		<result property="client.id" column="Client" />
		<result property="promotionOffer.id" column="PromotionOffer" />
		<result property="matchContent" column="MatchContent" />
	</resultMap>
	
	<resultMap type="promotionCondition" id="promotionCondition">
		<result property="id" column="ID" />
		<result property="client.id" column="Client" />
		<result property="promotionOffer.id" column="PromotionOffer" />
		<result property="conditionType" column="ConditionType" />
		<result property="condition" column="ProCondition" />
		<result property="match" column="ProMatch" />
		<result property="matchType" column="MatchType" />
	</resultMap>
	
	<resultMap type="promotionConditionMatchContent" id="promotionConditionMatchContent">
		<result property="id" column="ID" />
		<result property="client.id" column="Client" />
		<result property="promotionCondition.id" column="PromotionCondition" />
		<result property="matchContent" column="MatchContent" />
	</resultMap>
	
	
    <select id="getPromotionsByStore" resultMap="promotion">
		SELECT p.ID,p.Client,p.Code,p.Name,p.Memo,p.EffectiveDate,p.ExpiryDate,p.EffectiveTime,p.ExpiryTime
			,p.RepeatEffect,p.Week,p.Days,p.PaymentRestrict,p.MemberRestrict,p.OfferRelation,p.Excluded
			,p.Status,p.Creator,p.Created,p.Editor,p.Modified
			,ps.Store,p.Sort
		 FROM Promotion p, PromotionStore ps
		WHERE p.id=ps.Promotion AND p.status=1 AND ps.Store=#{storeId} AND p.Client=#{clientId}
		<![CDATA[  
    	and ps.EffectiveDate<=#{saleDate}
    	and (ps.ExpiryDate is null or ps.ExpiryDate>=#{saleDate})
    	]]>
    	order by sort desc;
    </select>
    
    <select id="getPromoPaymentByPromoId" resultMap="promotionPayment">
    	SELECT 
		pp.ID,pp.Client,pp.Payment AS ClientPayment,p.Code AS ClientPaymentCode,pp.Promotion
		FROM PromotionPayment pp,ClientPayment cp,Payment p
		WHERE pp.Payment=cp.ID AND cp.Payment=p.Code
		AND cp.Status=1 AND p.Status=1
		AND Promotion=#{promotionId}
    	
    </select>
    <select id="getPromoOfferbyPromoId" resultMap="promotionOffer">
    	SELECT po.ID,po.Client,po.Promotion,po.OfferType,po.OfferContent,po.MatchType
    	 FROM PromotionOffer po
		WHERE po.Promotion=#{promotionId}
    </select>
    <select id="getMatchContentByOfferId" resultMap="promotionOfferMatchContent">
    	SELECT pomc.ID,pomc.Client,pomc.PromotionOffer,pomc.MatchContent
    	 FROM PromotionOfferMatchContent pomc
		WHERE pomc.PromotionOffer=#{offerId}
    	
    </select>
    <select id="getConditionByOfferId" resultMap="promotionCondition">
    	SELECT pc.ID,pc.Client,pc.PromotionOffer,pc.ConditionType,pc.ProCondition
    	,pc.ProMatch,pc.MatchType FROM PromotionCondition pc
		WHERE pc.PromotionOffer=#{offerId}
    </select>
    <select id="getMatchContentByConditionId" resultMap="promotionConditionMatchContent">
    	SELECT pcmc.ID,pcmc.Client,pcmc.PromotionCondition,pcmc.MatchContent
    	 FROM PromotionConditionMatchContent pcmc
		WHERE pcmc.promotionCondition=#{conditionId}
    	
    </select>
	
	<select id="getPromotionByID" parameterType="string" resultMap="promotion">
		SELECT 
			a.ID,a.Client,a.Code,a.Name,a.Memo,a.EffectiveDate,a.ExpiryDate,a.EffectiveTime,a.ExpiryTime
			,a.RepeatEffect,a.Week,a.Days,a.PaymentRestrict,a.MemberRestrict,a.OfferRelation,a.Excluded
			,a.Status,a.Creator,a.Created,a.Editor,a.Modified,a.Sort
		FROM Promotion a
		WHERE a.ID=#{id} 
	</select>
	
	<select id="getPromotionPageByCondition" parameterType="java.util.Map" resultMap="promotionPage">
		SELECT 
			a.ID,a.Client,a.Code,a.Name,a.Memo,a.EffectiveDate,a.ExpiryDate,a.EffectiveTime,a.ExpiryTime
			,a.RepeatEffect,a.Week,a.Days,a.PaymentRestrict,a.MemberRestrict,a.OfferRelation,a.Excluded
			,a.Status,a.Creator,a.Created,a.Editor,a.Modified,a.Sort,c.Name ClientName
		FROM Promotion a left outer join Client c
		on a.Client = c.id and c.status = 1 
		WHERE 
			a.Status= 1
			<if test="clientId != null">
				and a.Client=#{clientId}
			</if>
			<if test="likeName != null">
				and a.name like CONCAT('%','${likeName}','%' )  
			</if>
			order by a.ID desc
			<if test="start != null and limit != null">
				limit #{start},#{limit}
			</if>
	</select>
	
	<select id="getPromotionCountByCondition" parameterType="java.util.Map" resultType="int">
		SELECT count(1)
		FROM Promotion a WHERE 
			a.Status= 1
			<if test="clientId != null">
				and a.Client=#{clientId}
			</if>
			<if test="likeName != null">
				and a.name like CONCAT('%','${likeName}','%' )  
			</if>
	</select>
	
	<delete id="deletePromotionByID" parameterType="string">
		DELETE FROM Promotion where ID =#{id}
	</delete>
	
	<insert id="insertPromotion" parameterType="promotion">
		insert into Promotion <include refid="promotionSet" />
	</insert>
	
	<update id="updatePromotion" parameterType="promotion" >
		UPDATE Promotion <include refid="promotionSet" /> WHERE ID = #{id}
	</update>
    
    <sql id="promotionSet">
		<set >
			<if test= "id != null">ID=#{id,jdbcType=VARCHAR},</if >
			<if test= "client != null">Client=#{client.id,jdbcType=VARCHAR},</if >
			<if test= "code != null">Code=#{code,jdbcType=VARCHAR},</if >
			<if test= "name != null">Name=#{name,jdbcType=VARCHAR},</if >
			<if test= "memo != null">Memo=#{memo},</if >
			<if test= "effDate != null">EffectiveDate=#{effDate},</if >
			<if test= "expDate != null">ExpiryDate=#{expDate},</if >
			<if test= "effTime != null">EffectiveTime=#{effTime},</if >
			<if test= "expTime != null">ExpiryTime=#{expTime},</if >
			<if test= "repeatEffect != null">RepeatEffect=#{repeatEffect},</if >
			<if test= "week != null">Week=#{week},</if >
			<if test= "days != null">Days=#{days},</if >
			<if test= "paymentRestrict != null">PaymentRestrict=#{paymentRestrict},</if >
			<if test= "memberRestrict != null">MemberRestrict=#{memberRestrict},</if >
			<if test= "offerRelation != null">OfferRelation=#{offerRelation},</if >
			<if test= "excluded != null">Excluded=#{excluded},</if >
			<if test= "status != null">Status=#{status},</if >
			<if test= "creator != null">Creator=#{creator},</if >
			<if test= "created != null">Created=#{created},</if >
			<if test= "editor != null">Editor=#{editor,jdbcType=VARCHAR},</if >
			<if test= "modified != null">Modified=#{modified},</if >
			<if test= "sort != null">Sort=#{sort},</if >
		</set>
	</sql >
</mapper>