<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joker.common.mapper.RetailPriceMapper">
     
    
    <resultMap type="retailPrice" id="retailPrice">
		<result property="id" column="ID" />
		<result property="client.id" column="Client" />
		<result property="store.id" column="Store" />
		<result property="material.id" column="Material" />
		<result property="unit.id" column="Unit" />
		<result property="price" column="Price" />
		<result property="effectiveDate" column="EffectiveDate" />
		<result property="expiryDate" column="ExpiryDate" />
		<result property="creator" column="Creator" />
		<result property="created" column="Created" />
		<result property="editor" column="Editor" />
		<result property="modified" column="Modified" />
	</resultMap>
    
    <select id="getMaterialPrice" resultMap="retailPrice">
    	select ID,Client,Store,Material,Unit,Price,EffectiveDate,ExpiryDate
    	from RetailPrice
    	where Client=#{clientId} and Store=${storeId} and Material=#{materialId}
    	<![CDATA[  
    	and Unit=#{unitId} and EffectiveDate<=#{searchDate}
    	and (ExpiryDate is null or ExpiryDate>=#{searchDate})
    	]]>
    </select>
	

</mapper>