<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joker.common.mapper.SalesConfigMapper">
     
    
    <resultMap type="salesConfig" id="salesConfig">
		<result property="id" column="ID" />
		<result property="client.id" column="Client" />
		<result property="store.id" column="Store" />
		<result property="terminal.id" column="Terminal" />
		<result property="salesDate" column="SalesDate" />
		<result property="maxCode" column="MaxCode" />
		<result property="flag" column="Flag" />
	</resultMap>
	
	<resultMap type="salesConfig" id="salesConfigPage" extends="salesConfig">
		<result property="client.name" column="ClientName" />
		<result property="store.name" column="StoreName" />
		<result property="terminal.name" column="TerminalName" />
	</resultMap>
	
    <select id="getCurrentSalesConfig" parameterType="string" resultMap="salesConfig">
    	SELECT s.ID,s.Client,s.Store,s.Terminal,s.SalesDate,s.MaxCode,s.Flag from SalesConfig s,
    	(SELECT Store,max(SalesDate) as SalesDate FROM SalesConfig WHERE Store = #{storeId} group by Store) b
    	where s.Store=b.Store and s.SalesDate=b.SalesDate and s.Store=#{storeId}
    </select>
    
    
    <select id="getSalesConfigByID" parameterType="string" resultMap="salesConfig">
		SELECT 
			a.ID,a.Client,a.Store,a.Terminal,a.SalesDate,a.MaxCode,a.Flag
		FROM SalesConfig a
		WHERE a.ID=#{id} 
	</select>
	
	<select id="getSalesConfigPageByCondition" parameterType="java.util.Map" resultMap="salesConfigPage">
		SELECT 
			a.ID,a.Client,a.Store,a.Terminal,a.SalesDate,a.MaxCode,a.Flag,c.Name ClientName
			,s.Name StoreName,t.Name TerminalName
		FROM SalesConfig a left outer join Client c
		on a.Client = c.id and c.status = 1 
		left outer join Store s
		on a.Store = s.id and s.status = 1 
		left outer join Terminal t
		on a.Terminal = t.id and t.status = 1 
		WHERE 
			1 = 1
			<if test="clientId != null">
				and a.Client=#{clientId}
			</if>
			<if test="storeCode != null">
				and s.Code=#{storeCode}
			</if>
			<if test="storeName != null">
				and s.Name like CONCAT('%','${storeName}','%' ) 
			</if>
			<if test="salesDate != null">
				and a.SalesDate=#{salesDate}
			</if>
			<if test="terminalId != null">
				and a.Terminal=#{terminalId}
			</if>
			order by a.ID desc
			<if test="start != null and limit != null">
				limit #{start},#{limit}
			</if>
	</select>
	
	<select id="getSalesConfigCountByCondition" parameterType="java.util.Map" resultType="int">
		SELECT 
			count(1)
		FROM SalesConfig a left outer join Client c
		on a.Client = c.id and c.status = 1 
		left outer join Store s
		on a.Store = s.id and s.status = 1 
		left outer join Terminal t
		on a.Terminal = t.id and t.status = 1 
		where	1 = 1
			<if test="clientId != null">
				and a.Client=#{clientId}
			</if>
			<if test="storeCode != null">
				and s.Code=#{storeCode}
			</if>
			<if test="storeName != null">
				and s.Name like CONCAT('%','${storeName}','%' ) 
			</if>
			<if test="salesDate != null">
				and a.SalesDate=#{salesDate}
			</if>
			<if test="terminalId != null">
				and a.Terminal=#{terminalId}
			</if>
	</select>
	
	<delete id="deleteSalesConfigByID" parameterType="string">
		DELETE FROM SalesConfig where ID =#{id}
	</delete>
	
	<delete id="deleteSalesConfigByTerminalID" parameterType="string">
		DELETE FROM SalesConfig where Terminal =#{id}
	</delete>
    
    <!-- 修改销售配置,只允许修改maxCode值 -->
    <update id="updateSalesConfigMaxCode" parameterType="salesConfig">
    	update SalesConfig set MaxCode=#{maxCode} ,Flag=Flag+1 where Flag=#{flag} and ID=#{id}
    </update>
    
    <update id="updateSalesConfig" parameterType="salesConfig">
    	update SalesConfig  <include refid="salesConfigSet" /> WHERE ID = #{id}
    </update>
    
    <insert id="insertSalesConfig" parameterType="salesConfig">
    	insert into SalesConfig <include refid="salesConfigSet" />
    </insert>
    
    <sql id="salesConfigSet">
		<set >
			<if test= "id != null">ID=#{id,jdbcType=VARCHAR},</if >
			<if test= "client != null">Client=#{client.id,jdbcType=VARCHAR},</if >
			<if test= "store != null">Store=#{store.id,jdbcType=VARCHAR},</if >
			<if test= "terminal != null">Terminal=#{terminal.id,jdbcType=VARCHAR},</if >
			<if test= "salesDate != null">SalesDate=#{salesDate},</if >
			<if test= "maxCode != null">MaxCode=#{maxCode},</if >
			<if test= "flag != null">Flag=#{flag},</if >
		</set>
	</sql >
</mapper>