<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joker.common.mapper.ShoppingGuideMapper">
     
    
    <resultMap type="shoppingGuide" id="shoppingGuide">
		<result property="id" column="ID" />
		<result property="code" column="Code" />
		<result property="store.id" column="Store" />
		<result property="name" column="Name" />
		<result property="client.id" column="ClientID" />
		<result property="status" column="Status" />
		<result property="creator" column="Creator" />
		<result property="created" column="Created" />
		<result property="editor" column="Editor" />
		<result property="modified" column="Modified" />
	</resultMap>
	
	<resultMap type="terminal" id="shoppingGuidePage" extends="shoppingGuide">
		<result property="store.name" column="StoreName" />
	</resultMap>
	
    <select id="getShoppingGuideByCondition" parameterType="string" resultMap="shoppingGuide">
		SELECT s.ID,s.Code,s.Name,s.Store,s.Status,s.Client as ClientID ,s.Creator,s.Created,s.Editor,s.Modified
		FROM ShoppingGuide s 
		WHERE s.Status= 1
			<if test= "id != null">ID=#{id,jdbcType=VARCHAR}</if >
			<if test= "code != null">AND Code=#{code,jdbcType=VARCHAR}</if >
			<if test= "storeId != null">AND Store=#{storeId,jdbcType=VARCHAR}</if >
			<if test= "name != null">AND Name=#{name,jdbcType=VARCHAR}</if >
			<if test= "clientId != null">AND Client=#{clientId,jdbcType=VARCHAR}</if >
			<if test= "creator != null">AND Creator=#{creator,jdbcType=VARCHAR}</if >
			<if test= "created != null">AND Created=#{created}</if >
			<if test= "editor != null">AND Editor=#{editor,jdbcType=VARCHAR}</if >
			<if test= "modified != null">AND Modified=#{modified}</if >
		
	</select>
	
	<select id="getShoppingGuideByID" parameterType="string" resultMap="shoppingGuide">
		SELECT 
			a.ID,a.Client as ClientID,a.Code,a.Name,a.Store,a.Status,a.Creator,a.Created,a.Editor,a.Modified
		FROM ShoppingGuide a
		WHERE a.ID=#{id} 
	</select>
	
	<select id="getShoppingGuidePageByCondition" parameterType="java.util.Map" resultMap="shoppingGuidePage">
		SELECT 
			a.ID,a.Client as ClientID,a.Code,a.Name,a.Store,a.Status,a.Creator,a.Created,a.Editor,a.Modified,c.Name ClientName
			,s.Name StoreName
		FROM ShoppingGuide a left outer join Client c
		on a.Client = c.id and c.status = 1 
		left outer join Store s
		on a.Store = s.id and s.status = 1 
		WHERE a.Status= 1
			<if test="clientId != null">
				and a.Client=#{clientId}
			</if>
			<if test="likeName != null">
				and a.name like CONCAT('%','${likeName}','%' )  
			</if>
			<if test="code != null">
				and a.Code=#{code}
			</if>
			order by a.ID desc
			<if test="start != null and limit != null">
				limit #{start},#{limit}
			</if>
	</select>
	
	<select id="getShoppingGuideCountByCondition" parameterType="java.util.Map" resultType="int">
		SELECT count(1)
		FROM ShoppingGuide a WHERE a.Status= 1
			<if test="clientId != null">
				and a.Client=#{clientId}
			</if>
			<if test="code != null">
				and a.Code=#{code}
			</if>
			<if test="likeName != null">
				and a.name like CONCAT('%','${likeName}','%' )  
			</if>
	</select>
	
	<delete id="deleteShoppingGuideByID" parameterType="string">
		DELETE FROM ShoppingGuide where ID =#{id}
	</delete>
	
	<insert id="insertShoppingGuide" parameterType="shoppingGuide">
		insert into ShoppingGuide <include refid="shoppingGuideSet" />
	</insert>
	
	<update id="updateShoppingGuide" parameterType="shoppingGuide" >
		UPDATE ShoppingGuide <include refid="shoppingGuideSet" /> WHERE ID = #{id}
	</update>
    
    
	
    
    <sql id="shoppingGuideSet">
		<set >
			<if test= "id != null">ID=#{id,jdbcType=VARCHAR},</if >
			<if test= "code != null">Code=#{code,jdbcType=VARCHAR},</if >
			<if test= "name != null">Name=#{name,jdbcType=VARCHAR},</if >
			<if test= "store != null">Store=#{store.id,jdbcType=VARCHAR},</if >
			<if test= "client != null">Client=#{client.id,jdbcType=VARCHAR},</if >
			<if test= "creator != null">Creator=#{creator,jdbcType=VARCHAR},</if >
			<if test= "created != null">Created=#{created},</if >
			<if test= "editor != null">Editor=#{editor,jdbcType=VARCHAR},</if >
			<if test= "modified != null">Modified=#{modified},</if >
			<if test= "status != null">Status=#{status},</if >
		</set>
	</sql >
    
	

</mapper>