<div class="modal fade in" id="myModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel"
	style="display: block; padding-left: 21px;">
	<div class="modal-dialog" role="document" style="width: 600px;">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">所有品类树</h4>
			</div>
			<div class="modal-body" ng-init="names=['Jani','Hege','Kai']">
				<div id="materialCategoryTree" ng-repeat="x in names" on-render-finish></div>
			</div>
			<div class="modal-footer" on-render-finish>
				<button type="button" class="btn btn-default" ng-click="close()">取消</button>
				<button type="submit" class="btn btn-primary">提交</button>
			</div>
		</div>
	</div>
</div>